# Путь к папке с медиа-файлами
MEDIA_PATH=/Users/kenzhegulov/Documents/Photo

# Порт FastAPI (локально)
API_PORT=8000

# Хост FastAPI (локально)
API_HOST=0.0.0.0

# Порт Nginx (локально)
NGINX_PORT=81
